################################################################################
#    WARNING: This has been generated using Ansible. Any changes may be lost   #
################################################################################
upstream wsgi_main {
  server {{ wsgi_address }}:{{ wsgi_port }};
}

server {
  listen       80;
  server_name  {{ domains|join(" ") }};

  access_log   /var/log/{{ namespace }}/{{ name }}/access.log;
  error_log    /var/log/{{ namespace }}/{{ name }}/error.log;

  location / {
    include uwsgi_params;
    uwsgi_pass wsgi_main;
    root {{ prefix_dir }}/{{ namespace }}/{{ name }};
  }
  location ~ ^/({{ static_serve|join("|") }})/ {
    root {{ prefix_dir }}/{{ namespace }}/{{ name }}/www;
    expires 5d;
  }
}
{% if use_ssl %}
server {
  listen       443;
  server_name  {{ domains|join(" ") }};

  access_log   /var/log/{{ namespace }}/{{ name }}/access-ssl.log;
  error_log    /var/log/{{ namespace }}/{{ name }}/error-ssl.log;

  ssl on;
  ssl_certificate_key {{ ssl_cert_key }};
  ssl_certificate {{ ssl_cert_crt }};

  location / {
    include uwsgi_params;
    uwsgi_pass wsgi_main;
    root {{ prefix_dir }}/{{ namespace }}/{{ name }};
  }
  location ~ ^/({{ static_serve|join("|") }})/ {
    root {{ prefix_dir }}/{{ namespace }}/{{ name }}/www;
    expires 5d;
  }
}
{% endif %}